

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

/*header*/

.encabezado {
  display: flex;

  flex-direction: column;
  align-items: center;
}

.encabezado h1 {
  text-align: center;
}

.imagen_separadora {
  max-width: 100%;
  height: auto;
  padding-top: 20px;
}

/*main*/

.container {
  padding-top: 40px;
  display: flex;
  flex-direction: column;

  align-items: center;
  gap: 40px;
}

.position {
  display: flex;
  padding: 0 20px;
  padding-right: 20px;
  width: 100%;
  max-width: 800px;
  box-sizing: border-box;
  margin-bottom: 20PX;
}

.position img {
  border-radius: 10px;
  margin-right: 40px;
  width: 160px;
  height: auto;
  object-fit: cover;
}

.text-content {
  display: flex;
  flex-direction: column;
}

.position p {
  color: #6c727f;
}




@media (max-width: 640px) {
  .container {
      padding: 20px;
      width: 100%;
      
  }

  .position {
      flex-direction: column;
      align-items: center;
      padding: 10px;
  }

  .position img {
      width: 100%;
      max-width: 300px;
      margin: 0 0 10px 0;
  }
}

@media (max-width: 1024px) {
  .container {
      padding-top: 40px;
      width: 90%;
    
  }

  .position {
      flex-direction: row;
      align-items: flex-start;
  }

  .position img {
      width: 150px;
      margin-right: 20px;
  }
}

@media (max-width: 1280px) {
  .container {
      width: 80%;
  }

  .position img {
      width: 180px;
      margin-right: 30px;
  }
}
